<launch>
  <arg name="host"/>
  <arg name="port" default="8899"/>
  <arg name="aubo_config" default="$(find aubo_hardware_interface)/config/aubo.yaml"/>
  <arg name="debug" default="false"/>

  <env if="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE" value="$(find aubo_hardware_interface)/rosconsole.conf"/>

  <rosparam command="load" file="$(find aubo_hardware_interface)/config/hardware.yaml" />
  <rosparam command="load" file="$(find aubo_hardware_interface)/config/controllers.yaml" />

  <!-- -->
  <node name="aubo_i5" pkg="aubo_hardware_interface" type="aubo_hw" output="screen">
    <param name="tcp/host" value="$(arg host)"/>
    <param name="tcp/port" value="$(arg port)"/>
    <rosparam ns="aubo" file="$(arg aubo_config)"/>
  </node>

  <!-- -->
  <node ns="aubo_i5" name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
    args="/aubo_i5/controller/state
          /aubo_i5/controller/arm_controller"/>

</launch>
