<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aubo_i10">
  <xacro:include filename="$(find aubo_description)/urdf/aubo_i10.urdf.xacro" />
  <xacro:include filename="$(find aubo_description)/urdf/common.gazebo.xacro" />

  <!-- World -->
  <link name="world"/>

  <!-- Arm -->
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link = "base_link"/>
  </joint>

  <xacro:aubo_i10 prefix="">
    <limit lower="-3.05" upper="3.05" velocity="3.14" effort="34.0"/>
  </xacro:aubo_i10>

</robot>
