<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find aubo_i5_moveit_config)/config/ros_controllers.yaml" />

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
    ns="aubo_i5" args="aubo_controller" />

</launch>
